In [27]:
import os
import sys
import json
import pandas as pd

## Load the dataset

In [40]:
# Load the dataset (6 csv files)
# Load the json file simultaneously, as we need to label the anomaly, and there are replicates in the timestamps
# Load the cpc and cpm files into different dataset
def load_file(anomaly, suffix):
    filepath = "./realAdExchange/"
    df = pd.DataFrame()
    
    for i in range(2, 5):
        filename = "exchange-" + str(i) + suffix
        cur = pd.read_csv(filepath + filename)
        cur['anomaly'] = 0
        cur.loc[cur.timestamp.isin(anomaly[filepath[2:] + filename]), 'anomaly'] = 1
        cur['dataset'] = filename
        df = df.append(cur)
    
    return df

with open('./labels.json') as f:
    anomaly = json.load(f)

df_cpc = load_file(anomaly, "_cpc_results.csv")
df_cpm = load_file(anomaly, "_cpm_results.csv")

In [41]:
df_cpc.head(5)

             timestamp     value  anomaly                     dataset
0  2011-07-01 00:00:01  0.081965        0  exchange-2_cpc_results.csv
1  2011-07-01 01:00:01  0.098972        0  exchange-2_cpc_results.csv
2  2011-07-01 02:00:01  0.065314        0  exchange-2_cpc_results.csv
3  2011-07-01 03:00:01  0.070663        0  exchange-2_cpc_results.csv
4  2011-07-01 04:00:01  0.102490        0  exchange-2_cpc_results.csv

In [36]:
df_cpc.describe()

             value      anomaly
count  4805.000000  4805.000000
mean      0.107905     0.001457
std       0.091368     0.038144
min       0.023884     0.000000
25%       0.072492     0.000000
50%       0.097467     0.000000
75%       0.124019     0.000000
max       3.126852     1.000000

In [42]:
df_cpc.groupby('anomaly').count()

         timestamp  value  dataset
anomaly
0             4798   4798     4798
1                7      7        7

In [43]:
df_cpm.head(5)

             timestamp     value  anomaly                     dataset
0  2011-07-01 00:00:01  0.401048        0  exchange-2_cpm_results.csv
1  2011-07-01 01:00:01  0.392719        0  exchange-2_cpm_results.csv
2  2011-07-01 02:00:01  0.309996        0  exchange-2_cpm_results.csv
3  2011-07-01 03:00:01  0.212939        0  exchange-2_cpm_results.csv
4  2011-07-01 04:00:01  0.205801        0  exchange-2_cpm_results.csv

In [38]:
df_cpm.describe()

             value      anomaly
count  4805.000000  4805.000000
mean      0.543631     0.001457
std       0.517033     0.038144
min       0.000385     0.000000
25%       0.323628     0.000000
50%       0.489483     0.000000
75%       0.648013     0.000000
max      16.438200     1.000000

In [44]:
df_cpm.groupby('anomaly').count()

         timestamp  value  dataset
anomaly
0             4798   4798     4798
1                7      7        7